*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

.navbar{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px auto;
  padding: 20px;
}


.logo-areandina{
  width: 100%;
}

.nav-menu{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}

body{
  display: grid;
  min-height: 100dvh;
} 

.home{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url('../img/pymes.png');
  opacity: 0.8;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;

  h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 52px;
    background-color: black;
    color: white;
    opacity: 0.9;
    width: 95%;
    padding: 20px;
    margin: 18px;   
  }

  p{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: black;
    color: white;
    opacity: 0.9;
    width: 95%;
    padding: 20px;
    margin: 18px;   
  }
}

.sobre-nosotros{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75%;
  margin: 0 auto;
  padding: 15px;
  gap: 75px;
}

.features,
.metodologia{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0 auto;
}

.text-features,
.text-metodologia{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 25px;
  margin: 25px;
  width: 100%;
}

.img-features,
.img-metodologia{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
  img{
    width: 100%;
    height: 75%;
    margin: 10px;
    padding: 10px;
  }
}

.testimonios,
.planes-precios{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  margin: 10px auto;
}

.planes-precios button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
  background-color: #0bce1b;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.contacto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 75px auto;

  input, textarea{
    display: flex;
    width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
  }

  button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    background-color: #0bce1b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
  }
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #06770f;
  color: white;
  width: 100%;
  padding: 10px;
  margin: 10px auto;
}

@media (max-width: 1200px) {
  .testimonios,
  .planes-precios {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navbar {
    grid-template-columns: 1fr;
  }

  .nav-menu {
    flex-direction: column;
  }

  .sobre-nosotros,
  .features,
  .metodologia,
  .testimonios,
  .planes-precios {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .text-features,
  .text-metodologia,
  .img-features,
  .img-metodologia {
    margin: 10px;
    padding: 10px;
  }

  .contacto input,
  .contacto textarea {
    width: 90%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 20px;
  }

  .home {
    height: 400px;

    h1 {
      font-size: 36px;
    }

    p {
      font-size: 24px;
    }
  }

  .contacto input,
  .contacto textarea {
    width: 100%;
  }
}

